* {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.escondido {
    display: none;
}

.resultado-final {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultado-final span {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

.resultado-final p {
    margin-top: 16px;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}