* {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.escondido {
    display: none;
}

.mini-logo {
    position: fixed;
    top: 26px;
    left: 31px;
}

.card {
    width: 392px;
    height: 575px;

    border-radius: 12px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 19px 12px;
}

.card p {
    position: absolute;
    top: 13px;
    right: 12px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.card img {
    position: absolute;
    bottom: 20px;
    right: 17px;
}

.frente h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;

    padding: 0 20px 0 20px;

}

header {
    display: flex;
    justify-content: center;
}

.verso h1{
    padding: 0 45px 0 45px;
    text-align: center;

}

.verso h6 {
    width: 60%;

    position: absolute;
    top: 19px;

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

}

footer {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 39.2px;

    width: 80%;

}

footer div {
    width: 65px;
    height: 48px;
    padding: 3px;

    border: 3px solid;
    border-radius: 12px;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aprendi-agora {
    border: 3px solid #000000;
}

.aprendi-agora-card {
    border: 5px solid #000000;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}

.nao-lembrei {
    border: 3px solid #F64848;
}

.nao-lembrei-card {
    border: 5px solid #F64848;
    box-shadow: 0px 8px 24px rgba(246, 72, 72, 0.12);
}

.lembrei-esforco {
    border: 3px solid #62DB38;
}

.lembrei-esforco-card {
    border: 5px solid #62DB38;
    box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);
}

.zap {
    border: 3px solid #FFEF61;
}

.zap-card {
    border: 5px solid #FFEF61;
    box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);
}